@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700;900&display=swap");

* {
    --putih: white;
    --hitam: black;
    --hijau: #0cca98;
    --merah: #e2125d;
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}
.konten {
    flex: 1;
}
